:root {
  --primary-blue: #007bff;
  --dark-blue: #045aaf;
  --success-green: #4caf50;
  --light-bg: #f8f9fa;
  --white: #ffffff;
  --text-dark: #333;
  --text-light: #666;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #f4f8ff;
  color: #333;
}

.container {
  max-width: 1200px;
  margin: 0 80px;
  padding: 0 20px;
}

a {
  text-decoration: none;
  color: inherit;
}

.logo {
  font-weight: 800;
  font-size: 25px;
}

.navbar {
  background-color: var(--primary-blue);
  padding: 15px 0;
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links a {
  margin-left: 25px;
  font-weight: 500;
  padding: 5px 0;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: var(--success-green);
}

.login-btn {
  background-color: var(--primary-blue);
  padding: 8px 18px;
  border-radius: 4px;
  font-weight: 500;
}

.login-btn:hover {
  color: var(--success-green);
}

section {
  height: 640px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about > div {
  padding: 30px;
  max-width: 800px;
  margin: 40px auto;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  animation: fadeInUp 0.9s ease-out both;
}

footer {
  text-align: center;
  padding: 15px;
  background: var(--primary-blue);
  text-decoration: none;
  margin-top: 63px;
  color: white;
  animation: fadeInUp 1.2s ease-in both;
}

footer a {
  text-decoration: none;
  color: var(--white);
}

footer a:hover {
  color: var(--success-green);
}


.contact-form {
  margin-top: 20px;
}

.contact-form label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-top: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
  animation: fadeInUp 0.9s ease-out both;
}

button {
  margin-top: 15px;
  background: #008cff;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
  animation: fadeInUp 1.1s ease-out both;
}

button:hover {
  background: #006fd1;
}


.contact-info {
  margin-top: 25px;
  animation: fadeInUp 1s ease-out both;
}

.contact-info a {
  color: #008cff;
  text-decoration: none;
}

.contact-info a:hover {
  text-decoration: underline;
}
