* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --primary-blue: #007bff;
  --dark-blue: #045aaf;
  --success-green: #4caf50;
  --light-bg: #f8f9fa;
  --white: #ffffff;
  --text-dark: #333;
  --text-light: #666;
}

body {
  background: linear-gradient(to bottom right, #f4f8ff, #e9f3ff);
  height: 100vh;
  display: flex;
  flex-direction: column;
}

nav {
  background-color: var(--primary-blue);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 80px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo h2 {
  font-size: 22px;
  font-weight: 600;
}

.nav-links a {
  color: white;
  text-decoration: none;
  margin-left: 25px;
  font-weight: 500;
  transition: 0.3s;
}

.nav-links a:hover {
  color: var(--success-green);
}

.login-btn {
  background-color: var(--primary-blue);
  padding: 8px 16px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 650;
  color: white;
}

.login-btn:hover {
  background-color: #1e4ed8;
}

.login-container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-box {
  background-color: white;
  width: 380px;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.login-box .icon {
  font-size: 45px;
  color: #1e90ff;
  margin-bottom: 15px;
}

.login-box h2 {
  color: #153e90;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 5px;
}

.login-box p {
  color: #666;
  font-size: 14px;
  margin-bottom: 30px;
}

.input-group {
  text-align: left;
  margin-bottom: 20px;
}

.input-group label {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
  color: #333;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 15px;
  outline: none;
}

.input-group input:focus {
  border-color: #2563eb;
}

.btn {
  width: 100%;
  background-color: var(--primary-blue);
  border: none;
  color: white;
  padding: 10px;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background-color: #1e4ed8;
}

.signup-text {
  margin-top: 15px;
  color: #555;
  font-size: 14px;
}

.signup-text a {
  color: #2563eb;
  font-weight: 500;
  text-decoration: none;
}

.signup-text a:hover {
  text-decoration: underline;
}

footer {
  text-align: center;
  padding: 15px;
  background: var(--primary-blue);
  color: white;
  animation: fadeInUp 1.2s ease-in both;
}

footer a {
  text-decoration: none;
  color: var(--white);
}

footer a:hover {
  color: var(--success-green);
}
