:root {
  --primary-blue: #007bff;
  --dark-blue: #045aaf;
  --success-green: #4caf50;
  --light-bg: #f8f9fa;
  --white: #ffffff;
  --text-dark: #333;
  --text-light: #666;
}

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  background: linear-gradient(to bottom right, #f5faff, #ecf6ff);
}

header {
  background-color: var(--primary-blue);
  color: var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 60px;
}

.logo {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 20px;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 12px;
  font-weight: 500;
}

nav a:hover{
  color: var(--success-green);
}

.login-btn {
  background-color: var(--white);
  padding: 8px 16px;
  border-radius: 8px;
  text-decoration: none;
  color: var(--primary-blue);
  font-weight: 650;
}

.login-btn:hover{
  color: var(--white);
  background-color: var(--success-green);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(90vh - 70px);
}

.form-card {
  background-color: #fff;
  width: 100%;
  max-width: 420px;
  border-radius: 14px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  padding: 30px;
  text-align: center;
}

.form-card img {
  width: 48px;
  margin-bottom: 10px;
}

.form-card h2 {
  color: #1e3a8a;
  margin-bottom: 6px;
}

.form-card p {
  color: #64748b;
  font-size: 14px;
  margin-bottom: 24px;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  margin-bottom: 14px;
  font-size: 14px;
}

input:focus {
  border-color: #2563eb;
  outline: none;
}

.btn-create {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #2563eb;
  color: white;
  font-weight: 600;
  border-radius: 8px;
  cursor: pointer;
}

.btn-create:hover {
  background-color: #1e40af;
}

.signin-text {
  font-size: 14px;
  color: #475569;
  margin-top: 14px;
}

.signin-text a {
  color: #2563eb;
  text-decoration: none;
  font-weight: 500;
}

footer {
  text-align: center;
  padding: 15px;
  background: var(--primary-blue);
  color: white;
  animation: fadeInUp 1.2s ease-in both;
}

footer a{
  color: var(--white);
  text-decoration: none;
}

footer a:hover {
  text-decoration: none;
  color: var(--success-green);
}
